$panel-padding: 30px;
$panel-width: 430px; // 400 + padding

.panel-container {
	position: fixed;
	top: 0;
	width: $panel-width;
	height: 100%;
	background: #fff;
	transition: transform 0.35s 0s cubic-bezier(0.46, 0.01, 0.32, 1);
	z-index: 1;

	&.align-left {
		left: $panel-width * -1;
	}

	&.align-right {
		right: $panel-width * -1;
	}

	&.is-open.align-right {
		transform: translateX(-100%);
	}

	&.is-open.align-left {
		transform: translateX(100%);
	}

	.panel-wrapper {
		padding: $panel-padding;

		.panel {
			display: none;
			width: 100%;
			// width: $panel-width;

			&.is-active {
				display: block;
			}
		}
	}
}
